<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Termékek - ReNew</title>
<base href="/jgch8q/">

<!-- Google font -->
<!-- Google font -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
	rel="stylesheet">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/slick.css}" rel="stylesheet" />
<link th:href="@{/css/slick-theme.css}" rel="stylesheet" />
<link th:href="@{/css/nouislider.min.css}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>
<base href="/jgch8q/">

<body>
	<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +36 70 234
							9876</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i>
							info@renew.hu</a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i> 6000,
							Kecskemét Fő utca 21.</a></li>
				</ul>
				<ul class="header-links pull-right" id="authLinks">
					<li><a th:href="@{/register}"><i class="fa fa-user-plus"></i>
							Regisztráció</a></li>
					<li><a th:href="@{/login}"><i class="fa fa-sign-in"></i>
							Bejelentkezés</a></li>

				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->

		<!-- MAIN HEADER -->
		<div id="header">
			<base href="/jgch8q/">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a th:href="@{/}" class="logo"> <img
								th:src="@{/img/logo.png}" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->

					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="header-search">
							<form>
								<select class="input-select">
									<option value="0">Kategóriák</option>
									<option value="1">Kategória 01</option>
									<option value="1">Kategória 02</option>
								</select> <input class="input" placeholder="Keresés...">
								<button class="search-btn">Keres</button>
							</form>
						</div>
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Wishlist -->
							<div>
								<a href="#"> <i class="fa fa-heart-o"></i> <span>Kívánságlista</span>
									<div class="qty">2</div>
								</a>
							</div>
							<!-- /Wishlist -->

							<!-- Cart -->
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true"> <i class="fa fa-shopping-cart"></i> <span>Kosár</span>
									<div class="qty">0</div>
								</a>
								<div class="cart-dropdown">
									<div class="cart-list">
										<!-- A termékek dinamikusan kerülnek majd ide -->
									</div>
									<div class="cart-summary">
										<small>Nincs termék a kosárban</small>
										<h5>Összesen: 0 Ft</h5>
									</div>
									<div class="cart-btns">
										<a href="#">Kosár</a> <a href="#">Fizetés <i
											class="fa fa-arrow-circle-right"></i></a>
									</div>
								</div>
							</div>

							<!-- /Cart -->

							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#"> <i class="fa fa-bars"></i> <span>Főoldal</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav" id="navLinks">
					<li><a th:href="@{/}">Főoldal</a></li>
					<li class="active"><a th:href="@{/store}">Termékek</a></li>
					<li><a th:href="@{/about}">Rólunk</a></li>
					<li><a th:href="@{/contact}">Kapcsolat</a></li>
					<li><a th:href="@{/chart}">Diagram</a></li>
				</ul>

				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ASIDE -->
				<div id="aside" class="col-md-3">
					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Kategóriák</h3>
						<div class="checkbox-filter">

							<div class="input-checkbox">
								<input type="checkbox" id="category-1"> <label
									for="category-1"> <span></span> Irodai laptopok
								</label>
							</div>

							<div class="input-checkbox">
								<input type="checkbox" id="category-2"> <label
									for="category-2"> <span></span> Üzleti laptopok
								</label>
							</div>

							<div class="input-checkbox">
								<input type="checkbox" id="category-3"> <label
									for="category-3"> <span></span> Gamer laptopok
								</label>
							</div>

							<div class="input-checkbox">
								<input type="checkbox" id="category-4"> <label
									for="category-4"> <span></span> Prémium laptopok
								</label>
							</div>

							<div class="input-checkbox">
								<input type="checkbox" id="category-5"> <label
									for="category-5"> <span></span> Ultrabookok
								</label>
							</div>

							<div class="input-checkbox">
								<input type="checkbox" id="category-6"> <label
									for="category-6"> <span></span> Smartphones <small>(740)</small>
								</label>
							</div>
						</div>
					</div>
					<!-- /aside Widget -->

					<!-- Ár szűrő Widget -->
					<div class="aside">
						<h3 class="aside-title">Ár (Ft)</h3>
						<div class="price-filter">
							<div id="price-slider"></div>

							<div class="input-number price-min">
								<input id="price-min" type="number" value="10000" min="10000"
									max="999000" step="1000"> <span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>

							<span>-</span>

							<div class="input-number price-max">
								<input id="price-max" type="number" value="999000" min="10000"
									max="999000" step="1000"> <span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
						</div>
						<small>Az árak forintban (Ft) értendők.</small>
					</div>
					<!-- /Ár szűrő Widget -->


					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Márkáink</h3>
						<div class="checkbox-filter">
							<div class="input-checkbox">
								<input type="checkbox" id="brand-1"> <label
									for="brand-1"> <span></span> HP
								</label>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="brand-2"> <label
									for="brand-2"> <span></span> Dell
								</label>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="brand-3"> <label
									for="brand-3"> <span></span> Lenovo
								</label>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="brand-4"> <label
									for="brand-4"> <span></span> Asus
								</label>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="brand-5"> <label
									for="brand-5"> <span></span> Acer
								</label>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="brand-6"> <label
									for="brand-6"> <span></span> Apple
								</label>
							</div>
						</div>
					</div>
					<!-- /aside Widget -->

					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Legnépszerűbb laptopok</h3>
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product01.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Üzleti laptop</p>
								<h3 class="product-name">
									<a href="#">HP EliteBook 845 G7</a>
								</h3>
								<h4 class="product-price">250.000 Ft</h4>
							</div>
						</div>

						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product02.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Ultrabook</p>
								<h3 class="product-name">
									<a href="#">MacBook Air M1</a>
								</h3>
								<h4 class="product-price">360.000 Ft</h4>
							</div>
						</div>

						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Irodai laptop</p>
								<h3 class="product-name">
									<a href="#">Asus VivoBook 15</a>
								</h3>
								<h4 class="product-price">230.000 Ft</h4>
							</div>
						</div>
					</div>
					<!-- /aside Widget -->
				</div>
				<!-- /ASIDE -->

				<!-- STORE -->
				<div id="store" class="col-md-9">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="store-sort">
							<label> Rendezés: <select class="input-select">
									<option value="0">Népszerűség szerint</option>
									<option value="1">Ár szerint növekvő</option>
									<option value="2">Ár szerint csökkenő</option>
							</select>
							</label> <label> Megjelenítés: <select class="input-select">
									<option value="0">5 termék</option>
									<option value="1">10 termék</option>
									<option value="2">15 termék</option>
							</select>
							</label>
						</div>
						<ul class="store-grid">
							<li class="active"><i class="fa fa-th"></i></li>
							<li><a href="#"><i class="fa fa-th-list"></i></a></li>
						</ul>
					</div>
					<!-- /store top filter -->

					<!-- TERMÉKLISTA -->
					<div class="row" id="product-list">
						<div class="col-md-12 text-center" style="padding: 50px 0;">
							<h4>Jelenleg nincs megjeleníthető termék.</h4>
							<p>A termékek feltöltés alatt állnak. Kérjük, nézz vissza
								később!</p>
						</div>
					</div>
					<!-- /TERMÉKLISTA -->


					<!-- store bottom filter -->
					<div class="store-filter clearfix">
						<span class="store-qty">5-15 termék megjelenítve</span>
					</div>
					<!-- /store bottom filter -->
				</div>
				<!-- /STORE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>
							Iratkozz fel a <strong>HÍRLEVELÜNKRE</strong>
						</p>
						<form>
							<input class="input" type="email"
								placeholder="Add meg az e-mail címed">
							<button class="newsletter-btn">
								<i class="fa fa-envelope"></i> Feliratkozás
							</button>
						</form>
						<ul class="newsletter-follow">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Rólunk</h3>
							<p>A ReNew Kft. felújított, minőségi laptopokkal foglalkozik,
								garanciával és kedvező árakkal.</p>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>6000
										Kecskemét, Fő utca 21.</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>+36 20 123
										4567</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>info@renew.hu</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Kategóriák</h3>
							<ul class="footer-links">
								<li><a href="#">Akciós termékek</a></li>
								<li><a href="#">Irodai laptopok</a></li>
								<li><a href="#">Üzleti laptopok</a></li>
								<li><a href="#">Gamer laptopok</a></li>
								<li><a href="#">Prémium modellek</a></li>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Információ</h3>
							<ul class="footer-links">
								<li><a href="#">Rólunk</a></li>
								<li><a href="#">Kapcsolat</a></li>
								<li><a href="#">Adatvédelmi irányelvek</a></li>
								<li><a href="#">Szállítás és visszaküldés</a></li>
								<li><a href="#">Felhasználási feltételek</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Szolgáltatások</h3>
							<ul class="footer-links">
								<li><a href="#">Fiókom</a></li>
								<li><a href="#">Kosár</a></li>
								<li><a href="#">Kívánságlista</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
							<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
						</ul>
						<span class="copyright"> <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>
								document.write(new Date().getFullYear());
							</script> ReNew Kft. – Minden jog fenntartva. <i class="fa fa-heart-o"
							aria-hidden="true"></i> Készítette <a href="https://colorlib.com"
							target="_blank">Colorlib</a> <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->

	<!-- Dinamikus context path beállítás Thymeleaf segítségével -->
	<script th:inline="javascript">
		const contextPath = /*[[@{/}]]*/'';
	</script>

	<!-- jQuery Plugins -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
	<script th:src="@{/js/nouislider.min.js}"></script>
	<script th:src="@{/js/jquery.zoom.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/store.js}"></script>
	<script th:src="@{/js/auth-ui.js}"></script>
	<script th:src="@{/js/auth.js}"></script>


	<!-- Termék részletei Modal -->
	<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header bg-dark text-white">
					<h5 class="modal-title" id="modalTitle"></h5>
					<button type="button" class="close text-white" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>

				</div>

				<div class="modal-body">
					<div class="row align-items-center">

						<!-- KÉP -->
						<div class="col-md-6 text-center">
							<img id="modalImage" th:src="@{/img/logo.png}" alt="Laptop"
								class="img-fluid rounded shadow-sm border"
								style="max-height: 320px; object-fit: contain;">
						</div>

						<!-- ADATOK -->
						<div class="col-md-6">
							<ul class="list-group mb-3 shadow-sm">
								<li class="list-group-item"><strong>💻 Processzor:</strong>
									<span id="modalCpu"></span></li>
								<li class="list-group-item"><strong>🪟 Operációs
										rendszer:</strong> <span id="modalOs"></span></li>
								<li class="list-group-item"><strong>📺 Kijelző:</strong> <span
									id="modalDisplay"></span>”</li>
								<li class="list-group-item"><strong>🧠 Memória:</strong> <span
									id="modalRam"></span> MB</li>
								<li class="list-group-item"><strong>💾 Merevlemez:</strong>
									<span id="modalStorage"></span> GB</li>
								<li class="list-group-item"><strong>🎮
										Videóvezérlő:</strong> <span id="modalGpu"></span></li>
								<li class="list-group-item"><strong>📦 Készlet:</strong> <span
									id="modalStock"></span> db</li>
							</ul>

							<div
								class="d-flex justify-content-between align-items-center mt-3">
								<h4 class="text-danger fw-bold mb-0" id="modalPrice">– Ft</h4>

								<button id="modalAddToCart"
									class="btn btn-danger btn-lg px-4 shadow-sm"
									style="border-radius: 10px; transition: 0.2s all;">
									<i class="fa fa-shopping-cart me-2"></i> Kosárba
								</button>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
